services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile.dev
    environment:
      NODE_ENV: development
    volumes:
      - ./backend:/app/backend
      - ./shared:/app/shared
      - /app/backend/node_modules
      - /app/node_modules
    command: sh -c "cd /app/backend && npm run dev"

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile.dev
    environment:
      NODE_ENV: development
    volumes:
      - ./frontend:/app/frontend
      - ./shared:/app/shared
      - /app/frontend/node_modules
      - /app/frontend/.next
      - /app/node_modules
    command: sh -c "cd /app/frontend && npm run dev"
